@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav-height: 84px;
  --waves-height: 100px;
  --minify-people: 500px;
}

@layer components {
  .container {
    max-width: 60rem;
    width: 60rem;
  }

  .pt-hero-nav {
    padding-top: calc(var(--nav-height) + 40px);
  }

  .navbar-blur {
    background-color: transparent;
    backdrop-filter: blur(7px);
  }

  .code-keyword {
    color: rgb(255, 213, 150);
  }
  .code-module {
    color: rgb(255, 221, 250);
  }

  .code-fn {
    color: rgb(156, 231, 255);
  }

  .code-string {
    color: rgb(200, 255, 167);
  }

  .code-operator {
    color: rgb(255, 175, 243);
  }

  .code-prompt {
    color: rgb(132, 132, 132);
  }

  .code-success {
    color: rgb(200, 255, 167);
  }

  .code-error {
    color: rgb(255, 98, 98);
  }

  .community-grad {
    background: linear-gradient(
      0deg,
      rgb(255, 175, 243) 0%,
      rgb(254, 254, 252) 300%
    );
  }
  .community-grad-rev {
    background: linear-gradient(
      180deg,
      rgb(255, 175, 243) 0%,
      rgb(254, 254, 252) 250%
    );
  }

  .link-otto::before {
    content: "";
    background-image: url("../../public/other/otto.svg");
    background-size: cover;
    height: 25px;
    left: 0;
    bottom: -4px;
    position: absolute;
    width: 18px;
  }

  .waves-home {
    --waves-width: 1200px;
    --overlap: 5px;
    width: 100%;
    min-width: var(--waves-width);
    left: min(0px, calc(calc(100vw - var(--waves-width))* 0.2));
  }

  .invite-background-star {
    --width-content: 960px;
    --lucy-x: min(-80px, calc(100vw - var(--width-content) - 400px)) ;
    background: url("../../public/star/mailStar.svg") var(--lucy-x) 120% / 350px auto no-repeat, linear-gradient(180deg,rgb(255, 175, 243) 0%, rgb(254, 254, 252) 250%);
  }
}

@layer base {
  html {
    font-family: "Outfit-R", "sans-serif";
  }
  @font-face {
    font-family: "Lexend-R";
    font-size: "18px";
    src: url("../../public/fonts/Lexend-Regular.ttf");
  }
  @font-face {
    font-family: "Lexend-B";
    font-size: "18px";
    src: url("../../public/fonts/Lexend-Bold.ttf");
  }
  @font-face {
    font-family: "Outfit-R";
    font-size: "18px";
    src: url("../../public/fonts/Outfit-Regular.ttf");
  }
  @font-face {
    font-size: "18px";
    font-family: "Outfit-B";
    src: url("../../public/fonts/Outfit-Bold.ttf");
  }
}
